<header>
  <div class="header-container">
    <a id="header-image" href="/" hreflang="en">
      <img src='https://lh3.googleusercontent.com/u/0/d/0BwzDnRSrxRoaSWN3cVRfSkNHOWM=s1600-k-iv1' alt="header image" width="85" />
    </a>
    <div class="title-container">
      <h1 class="site-title"><a href="/" class="title-link">Aslam Abbas</a></h1>
      <div class="header-social-links">
        <a href="https://linkedin.com/in/aslmabas" target="_blank" rel="noopener noreferrer">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="https://instagram.com/aslmabas" target="_blank" rel="noopener noreferrer">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="https://twitter.com/aslmabas" target="_blank" rel="noopener noreferrer">
          <i class="fab fa-twitter"></i>
        </a>
      </div>
    </div>
  </div>
</header>
