	<!-- - -->
	{% include meta.html %}
	{% include schema.html %}
	<!-- - -->

	<link href='https://lh3.googleusercontent.com/u/0/d/1aT_GvIOCtP0SBwTgzOTtV5FNhHBPUuJM=w1408-h857-iv1' rel='shortcut icon' />
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css' />
	<link href='/stylesheets/style.css' rel='stylesheet' type='text/css' />
	<link href='/stylesheets/syntax.css' rel='stylesheet' type='text/css' />
	<link href='/stylesheets/responsive.css' rel='stylesheet' type='text/css' />
	<!-- - -->
	<script src='/javascripts/jquery.js' type='text/javascript'></script>
	<script src='/javascripts/pd.js' type='text/javascript'></script>
	<script src='/javascripts/basics.js' type='text/javascript'></script>
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>

	<!-- - -->
	{% include ga.html %}
	<!-- - -->