	<!-- - -->
	{% include meta.html %}
	<!-- - -->
	<link href='https://lh3.googleusercontent.com/u/0/d/0BwzDnRSrxRoaUkI5ZnZLUUloM2c=s1600-k-iv1' rel='shortcut icon' />
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css' />
	<link href='/stylesheets/style.css' rel='stylesheet' type='text/css' />
	<link href='/stylesheets/syntax.css' rel='stylesheet' type='text/css' />
	<link href='/stylesheets/responsive.css' rel='stylesheet' type='text/css' />
	<!-- - -->
	<script src='/javascripts/jquery.js' type='text/javascript'></script>
	<script src='/javascripts/pd.js' type='text/javascript'></script>
	<script src='/javascripts/basics.js' type='text/javascript'></script>
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<!-- 	<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script> -->
	<script type="text/javascript">stLight.options({publisher: "9870bdb5-7e31-4d3a-97df-52d1396c962a", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>

	<!-- - -->
	{% include ga.html %}
	<!-- - -->

	<!-- Google Tag Manager -->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-NS69QBB');</script>
	<!-- End Google Tag Manager -->
