	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=yes"/>
	<meta name="keywords" content="{{ page.keywords }}" />
	<meta name="description" content="{{ page.description }}"/>
	<meta name="author" content="Aslam Abbas" />

	<!-- fb -->
	<meta property="og:title" content="{{ page.title }}"/>
	<meta property="og:url" content="{{ page.url }}"/>
	<meta property="og:image" content="{{ page.picture }}"/>
	<meta property="og:description" content="{{ page.description }}"/>
	<meta property="og:site_name" content="http://aslamabbas.com" />
	<meta property="og:type" content="article"/>

	<!-- twitter -->
	<meta name="twitter:card" content="summary"/>
	<meta name="twitter:site" content="@0aslam0"/>
	<meta name="twitter:creator" content="Aslam Abbas"/>
	<meta name="twitter:title" content="{{ page.title }}"/>
	<meta name="twitter:url" content="{{ page.url }}"/>
	<meta name="twitter:description" content="{{ page.description }} "/>
	<meta name="twitter:image" content="{{ page.picture }}"/>
	<meta property="twitter:account_id" content="405713424"/>

	<!-- Google+ -->
	<meta itemprop="name" content="{{ page.title }}"/>
	<meta itemprop="description" content="{{ page.description }}"/>
	<meta itemprop="audience" content="Marketers"/>
	        <meta itemprop="image" content="{{ page.picture }}"/>       
	        <link rel="publisher" href="https://plus.google.com/u/0/112578204390100610510"/>
	<link rel="icon" type="image/png" href="http://cdn-simplyblog.rhcloud.com/uploads/big/a0e531cb587072614dc5451f179a09e0.png">


	<link rel="author" href="https://plus.google.com/u/0/112578204390100610510"/>
	<meta name="robots" content="index, follow"/>
	<meta name="msvalidate.01" content="5B644D08AE782569F732F8E13E496DCB" />
