{% if page.layout == 'post' %}
<div class="related-posts-section">
  <h4 class="related-posts-heading">You might also enjoy</h4>
  <ul class="related-posts-list">
    {% assign shown = 0 %}
    {% for post in site.posts %}
      {% if post.url != page.url and shown < 3 %}
        {% assign matched = false %}
        {% for tag in page.tags %}
          {% if post.tags contains tag %}
            {% assign matched = true %}
          {% endif %}
        {% endfor %}
        {% if matched %}
          <li class="related-posts-item">
            <a href="{{ post.url }}" class="related-posts-link">{{ post.title }}</a>
          </li>
          {% assign shown = shown | plus: 1 %}
        {% endif %}
      {% endif %}
    {% endfor %}
    {% if shown == 0 %}
      {% assign fallback = 0 %}
      {% for post in site.posts %}
        {% if post.url != page.url and fallback < 3 %}
          <li class="related-posts-item">
            <a href="{{ post.url }}" class="related-posts-link">{{ post.title }}</a>
          </li>
          {% assign fallback = fallback | plus: 1 %}
        {% endif %}
      {% endfor %}
    {% endif %}
  </ul>
</div>
{% endif %}
