<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.tag | capitalize }} posts | {{ site.name }}</title>
    {% include head.html %}
  </head>
  <body>
    {% include header.html %}
    <div id='container'>
      {% include links.html %}
      <div class="content">		        
		<h3>On #{{ page.tag }}, I wrote</h3>

		<ul class="posts">
		{% for post in site.tags[page.tag] %}
		  <li>
		    <small class="datetime muted" data-time="{{ post.date }}">{{ post.date | date_to_string }} </small>
    		<a href="{{ post.url }}">{{ post.title }}</a>
		  </li>
		{% endfor %}
		</ul>
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>